@font-face {
    font-family: VT323;
    src: url(https://fonts.googleapis.com/css2?family=VT323&display=swap);
}

#container {
    height: 600px;
    width: 600px;
    background-color: white;
    position: relative;
    top: 125px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    border: solid black 1px;
}

#button-container {
    display: flex;
    width: auto;
    margin: auto;
    position: relative;
    top: 75px;
    justify-content: center;
}

h1 {
    margin: 0px auto 0px auto;
    text-align: center;
    position: relative;
    top: 40px;
    font-family: "VT323", monospace;
    font-size: 50px;
}

.button {
    border: solid black 1px;
    padding: 32px;
    margin: 5px;
    color: black;
}

#grid-button {
    background-color: #55ff55;
}

#grid-button:hover {
    background-color: #00ff00;
}

#clear-button {
    background-color: #ff5555;
}

#clear-button:hover {
    background-color: rgb(253, 48, 48);
}

#random-color-button {
    background-color: #5555ff;
}

#greyscale-button {
    background-color: #cfcfcf;
}

body {
    background-color: #ffcccc;
}
